.bg{
    margin: 20px 50px 50px 50px;
    position: relative;
    img{
        height: 22vh;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        font-weight: 700;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        height: 22vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        @media (max-width: 540px) {
            font-size: 1.3rem;
        }
      }
    
      
}


