.carousel {
    position: relative;
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    
  
  
  }
  
  .carousel-image {
    width: 100%;
    height: 65vh;
    display: block;
    object-fit: cover;

    @media (max-width: 540px) {
      height: 40vh;

    }
    
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: #ffffff6f;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    z-index: 1;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }

  