.footer{
    background : black;
    color: white;
    @include verticalCenter;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 40px;

    img{
        margin-bottom: 20px;
    }
}