// Aller chercher notre police
// @font-face {
//     font-family: 'font-1';
//     src url("../assets/fonts/")
// }

// $font-1 : 'font-1', sans-serif;

// Ici on a nos couleurs : 
$color-1: #FF6060;
$color-2: #f1f0f0;
$color-3: white;
$color-4: black;

// notre mixin 
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: white;
}

li{
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }